body{
    background-image: url(Imagenes/fondo.jpeg);
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    justify-content: center;
    align-content: center;
    text-align: center;
}

#titulo{
    float: left;
}
#logo{
    float: right;
}
h1{
    color: #000;
    text-shadow: #555 2px 2px 3px;
    font-size: 70px;
    margin-left: 100px;
}

.Parrafo{
    border: silver 40px solid;
    border-image-source: url("Imagenes/huella.png");
    border-image-slice: 10px;
    border-image-repeat: repeat;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
}
.lista{
    background-image: linear-gradient(DarkSlateGray,white, black);
    width: 550px;
    height: 500px;
    border: 5px solid black;
    font-size: 18px;
    text-align: justify;
    float: left;
    
}
h2{
    text-align: center;
}
#lis{
    margin-right: 8px;
}
#Imgl{
    margin-top: 10px;
    text-align: center;
}
.tabla{
    float: right;
    
}
#Formulario{
    float: left;
    background-image: linear-gradient(25deg, DimGray,DarkSlateGray, Black);
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: DarkKhaki;
    font-size: 18px;
}
h4{
    margin-left: 5px;
    color: DarkKhaki;

}
#fpanda{
    
    background-size: cover;
    border-radius: 30%;
    margin: 0, auto;
    margin-left: 5px;
}
label{
    margin-left: 15px;
}
input{
    margin-left: 20px;
}
textarea{
    margin-left: 20px;
}